*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #060606 60%, #3e2301);
  overflow-x: hidden;

}



/* .logo {
  margin: 0 auto;
} */

.waitlist_heading {
  /* font-size: 3rem */
}
.waitlist_input {
  height: 50px;
  width: 350px;
  border-radius: 10px;
  border: 1px solid grey;
padding: 10px;
}
.waitlist p {
  color: #72777B
}

.supercharge  {
  width: 80vw;
  /* border: 1px solid red; */
  text-align: center;
  margin: 0 auto;
}

.waitlist_button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
}
.hero-img {
  display: flex;
  justify-content: center;
}
.hero-img img {
  width: 900px;
  margin: 50px;
}

.supercharge {
  margin-top: 40px;
}

.timer-bg {
  background-color: #171B21;
}

.card{
  border-radius: 30px;
}


.three_card_section img{
  width: 50px;
}
